.board_wrapper {
  padding: 10px;
}

.search_logs {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 0 auto;
  justify-content: center;
  padding: 10px;
}
.search_logs_item {
  box-sizing: border-box;
  padding: 5px 10px;
  border: 1px solid #aaa;
  font-size: 1rem;
  color: #aaa;
  border-radius: 10%;
  line-height: 1.5rem;
  text-align: center;
  display: block;
  cursor: pointer;
}

.section_result_item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.section_result_faviorate {
  padding: 0 15px;
  font-size: 1.5rem;
  line-height: 1.5rem;
  height: 3rem;
}