<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.github.mapper.SearchMapper">

    <select id="findByLimit" resultType="com.example.github.dto.response.SearchLogDto" parameterType="int">
        (select * from search where pinned = 1)
		union all
		(select * from search where pinned = 0 order by updated_at desc  
		<if test='limit != 0'> 
        limit #{limit}
        </if>)
		order by
		    pinned desc,
		    case 
		        when pinned = 1 then updated_at 
		    end desc,
		    case 
		        when pinned = 0 then updated_at
		    end desc;
    </select>

    <insert id="upsert" parameterType="com.example.github.dto.response.SearchRequest">
        insert into search(visitor_id, name, updated_at, created_at)
        values (#{visitorId}, #{name}, now(), now())
        ON DUPLICATE KEY UPDATE
        updated_at = NOW(), count = count+1
    </insert>
    
    <delete id="delete" parameterType="Long">
    	delete from search where id = #{id}
    </delete>
    
    <update id="togglePinned" parameterType="Long">
    	update search set pinned = !pinned where id = #{id}
    </update>
</mapper>